---

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Oscar Umaña</title>
	</head>
	<body>
		<article class="flex items-center justify-center min-h-screen">
			<h1 class="text-4xl font-black">Oscar Umaña</h1>
		</article>
	</body>
</html>
