---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  ariaLabel: string;
  iconName: string;
}
const { href, ariaLabel, iconName } = Astro.props;
---

<a href={href} aria-label={ariaLabel}>
  <Icon
    name={iconName}
    class="w-9 h-9 hover:text-red-500 hover:scale-110 transition-all"
  />
</a>
