---
import SubTittle from "./SubTittle.astro";
import ExperienceCard from "./ExperienceCard.astro";
---

<section
  id="Experience"
  class="flex flex-col items-center justify-center mb-10"
>
  <SubTittle>Esta es mi</SubTittle>
  <h2 class="text-5xl sm:text-6xl font-bold text-center mb-10">Experiencia</h2>

  <ul
    class="flex flex-wrap justify-center max-w-5xl gap-5 max-md:w-full max-md:px-5"
  >
    <ExperienceCard
      iconName="simple-icons:react"
      title="React"
      bgColor="react"
    />
    <ExperienceCard
      iconName="simple-icons:nextdotjs"
      title="Next.js"
      bgColor="next"
    />
    <ExperienceCard
      iconName="simple-icons:turborepo"
      title="TurboRepo"
      bgColor="turbo"
    />
    <ExperienceCard
      iconName="simple-icons:vuedotjs"
      title="Vue"
      bgColor="vue"
    />
    <ExperienceCard
      iconName="simple-icons:nuxtdotjs"
      title="Nuxt"
      bgColor="nuxt"
    />
    <ExperienceCard
      iconName="simple-icons:tailwindcss"
      title="Tailwind"
      bgColor="tailwind"
    />
    <ExperienceCard
      iconName="simple-icons:laravel"
      title="Laravel"
      bgColor="laravel"
    />
    <ExperienceCard
      iconName="simple-icons:astro"
      title="Astro"
      bgColor="astro"
    />
    <ExperienceCard
      iconName="simple-icons:mysql"
      title="MySql"
      bgColor="mysql"
    />
    <ExperienceCard
      iconName="simple-icons:docker"
      title="Docker"
      bgColor="docker"
    />
    <ExperienceCard
      iconName="simple-icons:mongodb"
      title="MongoDB"
      bgColor="mongodb"
    />
    <ExperienceCard
      iconName="simple-icons:cloudflare"
      title="Cloudflare"
      bgColor="cloudflare"
    />
    <ExperienceCard
      iconName="simple-icons:amazonwebservices"
      title="AWS"
      bgColor="aws"
    />
    <ExperienceCard
      iconName="simple-icons:amazondynamodb"
      title="DynamoDB"
      bgColor="dynamodb"
    />
    <ExperienceCard
      iconName="simple-icons:amazonecs"
      title="ECS"
      bgColor="ecs"
    />
    <ExperienceCard iconName="simple-icons:amazons3" title="S3" bgColor="s3" />
    <ExperienceCard
      iconName="simple-icons:awslambda"
      title="Lambda"
      bgColor="lambda"
    />
    <ExperienceCard
      iconName="simple-icons:whatsapp"
      title="WhatsApp"
      bgColor="whatsapp"
    />
    <ExperienceCard
      iconName="simple-icons:terraform"
      title="Terrafom"
      bgColor="terraform"
    />
    <ExperienceCard
      iconName="simple-icons:wordpress"
      title="Wordpress"
      bgColor="wordpress"
    />
    <ExperienceCard
      iconName="simple-icons:woo"
      title="Woocommerce"
      bgColor="woocommerce"
    />
  </ul>
</section>
