---
import SubTittle from "./SubTittle.astro";
import ExprienceCard from "./ExprienceCard.astro";
---

<section
  id="Experience"
  class="flex flex-col items-center justify-center mb-10"
>
  <SubTittle>Esta es mi</SubTittle>
  <h2 class="text-5xl sm:text-6xl font-bold text-center mb-10">Esperiencia</h2>

  <ul class="grid grid-cols-2 md:grid-cols-3 gap-5 max-md:w-full max-md:px-5">
    <ExprienceCard
      iconName="simple-icons:react"
      title="React"
      experience="1 año y medio"
      bgColor="react"
    />
    <ExprienceCard
      iconName="simple-icons:vuedotjs"
      title="Vue"
      experience="1 año y medio"
      bgColor="vue"
    />
    <ExprienceCard
      iconName="simple-icons:nextdotjs"
      title="Next.js"
      experience="1 año y medio"
      bgColor="next"
    />
    <ExprienceCard
      iconName="simple-icons:tailwindcss"
      title="Tailwind"
      experience="1 año y medio"
      bgColor="tailwind"
    />
    <ExprienceCard
      iconName="simple-icons:laravel"
      title="Laravel"
      experience="1 año"
      bgColor="laravel"
    />
    <ExprienceCard
      iconName="simple-icons:astro"
      title="Astro"
      experience="6 meses"
      bgColor="astro"
    />
  </ul>
</section>
