---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  title: string;
  bgColor: string;
}
const { iconName, title, bgColor } = Astro.props;
---

<li
  class:list={[
    "flex flex-col items-center justify-center rounded-lg w-28 md:w-40 h-28 md:h-40 max-md:p-5",
    `bg-${bgColor}/90`,
  ]}
>
  <Icon name={iconName} class="w-9 sm:w-14 h-9 sm:h-14" />
  <span class="text-lg font-semibold">{title}</span>
</li>
