---
import SubTittle from './SubTittle.astro';
interface Props {
  title: string;
  subTitle: string;
}
const { title, subTitle } = Astro.props;
---

<div class="flex flex-col items-center">
  <SubTittle>{subTitle}</SubTittle>
  <h1
    class="text-4xl sm:text-7xl font-extrabold sm:font-black text-center whitespace-pre-line"
  >
    {title}
  </h1>
</div>
