---
import PresentationTitle from "./PresentationTitle.astro";
import PresentationAvatar from "./PresentationAvatar.astro";
import ContactLink from "./ContactLink.astro";
import PresentationDetails from "./PresentationDetails.astro";
import avatar from "@assets/images/avatar.webp";
---

<section class="flex flex-col items-center gap-6 my-10">
  <PresentationTitle title="Oscar Uma単a" subTitle="Hola, soy" />
  <PresentationAvatar imageUrl={avatar} />
  <div class="flex items-center space-x-5 mb-3">
    <ContactLink
      href="https://www.linkedin.com/in/oscar-uma%C3%B1a-a95924189/"
      ariaLabel="Oscar Uma単a Linkedin"
      iconName="bi:linkedin"
    />
    <ContactLink
      href="https://github.com/Lexuil/"
      ariaLabel="Oscar Uma単a Github"
      iconName="bi:github"
    />
    <ContactLink
      href="mailto: lexuil97@gmail.com"
      ariaLabel="Oscar Uma単a email"
      iconName="ion:mail"
    />
  </div>

  <PresentationDetails />

  <div
    class="flex items-center flex-wrap sm:space-x-5 max-sm:flex-col max-sm:space-y-5"
  >
    <a
      href="#Projects"
      class="bg-transparent hover:bg-red-500 text-neutral-200 hover:text-black py-2 px-4 border border-neutral-100 hover:border-transparent rounded"
    >
      Proyectos
    </a>
    <a
      href="#Experience"
      class="bg-transparent hover:bg-red-500 text-neutral-200 hover:text-black py-2 px-4 border border-neutral-100 hover:border-transparent rounded"
    >
      Experiencia
    </a>
  </div>
</section>
