---
import SubTittle from "./SubTittle.astro";
import TimeLine from "./TimeLine.astro";
---

<section id="Projects" class="flex flex-col items-center justify-center">
  <SubTittle>Estos son mis</SubTittle>
  <h2 class="text-5xl sm:text-6xl font-bold text-center mb-10">Proyectos</h2>
  <TimeLine />
</section>
