---
import "@fontsource-variable/league-spartan";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Oscar Umaña</title>
    <meta name="description" content="Portafolio de Oscar Umaña" />
  </head>
  <body class="bg-black text-white">
    <main class="overflow-x-hidden relative">
      <slot />
    </main>
  </body>
</html>

<style>
  /* WebKit and Chromiums */
  body::-webkit-scrollbar {
    height: 12px;
    width: 5px;
    background: #343434;
  }

  body::-webkit-scrollbar-thumb {
    background: #b8274a;
    border-radius: 6px;
  }

  /* Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 #e0e0e0;
  }

  @keyframes scroll {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: 500px;
    }
  }

  body {
    color: black;
    background: url("/background.jpg");
    background-size: 500px 500px;
    animation: scroll 20s linear infinite;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/texture.svg");
    background-repeat: repeat;
    background-size: 100px 100px;
    opacity: 0.05;
  }
</style>
